<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <!--  <application>
          <receiver
              android:name=".widgets.word.WordWidget"
              android:exported="false">
              <intent-filter>
                  <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
              </intent-filter>

              <meta-data
                  android:name="android.appwidget.provider"
                  android:resource="@xml/word_widget_info" />
          </receiver>
      </application>
      -->

</manifest>